%h1 New University

= form_for [:admin, @university] do |f|
  = validation_errors(@university, "university", "created")

  .form-group
    = f.label :name
    = f.text_field :name, required: true, class: "form-control"

  .form-group
    = f.label :slug
    = f.text_field :slug, required: true, class: "form-control"

  .form-group
    = f.label :country_id
    = f.select :country_id, options_for_select(Country.all.map{ |x| [x.name, x.id] }), {required: true, prompt: "Select a country"}, class: "form-control"

  .form-group
    = f.label :latitude
    = f.text_field :latitude, required: true, class: "form-control"

  .form-group
    = f.label :longitude
    = f.text_field :longitude, required: true, class: "form-control"

  .form-group
    = f.label :description
    = f.text_area :description, rows: 10, class: "tinymce"

  .form-group
    = link_to "Back", admin_universities_path, class: "btn btn-default"
    = f.submit "Submit", class: "btn btn-primary"