!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %title myStudent CPanel
    = stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin/admin', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{"data-no-turbolink" => true}
    = render 'layouts/admin/header'
    .container-fluid
      .container
        .row
          .col-lg-12
            - if notice
              .alert.alert-success= notice
            - if alert
              .alert.alert-danger= alert
        .row
          .col-lg-12
            .text-center
              = link_to "English", url_for(locale: "en"), class: "btn #{params[:locale] == "en" ? "btn-info" : "btn-default"}"
              = link_to "Chinese", url_for(locale: "cn"), class: "btn #{params[:locale] == "cn" ? "btn-info" : "btn-default"}"
        = yield

    :javascript
      tinymce.init({
        selector: '.tinymce',
        height: 500,
        theme: 'modern',
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools uploadimage imagegallery'
        ],
        toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image uploadimage imagegallery',
        toolbar2: 'print preview media | forecolor backcolor emoticons',
        image_advtab: true,
        //templates: [
        //  { title: 'Test template 1', content: 'Test 1' },
        //  { title: 'Test template 2', content: 'Test 2' }
        //],
        content_css: [
          '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
          '//www.tinymce.com/css/codepen.min.css'
        ]
      });