= content_for :title, @country.name

= render 'slider'

.container.mt-xlg
  .row
    .col-md-12
      %h2.text-center Field of Studies

      .row
        .col-md-4.col-md-offset-4.text-center
          = select_tag :study_field, options_for_select(StudyField.all.sort_by { |x| x.name }.collect{ |x| x.name}), prompt: "Select a Field of Study", id: "study-field-search"

      -#.content-grid.content-grid-dashed.mt-xlg.mb-lg
        - @study_fields.in_groups_of(6).each do |group|
          .row.content-grid-row
            - group.each do |field|
              .content-grid-item.col-md-2.col-sm-4.col-xs-6.center{style: "height: 90px;"}
                %div{style: "line-height: 15px;"}= field.try(:name)

.container.mt-xlg
  = editable_section("about-country")

= content_for :javascript do
  :javascript
    $('#study-field-search').selectize({
      create: true,
      sortField: 'text'
    });