%h1 New Course for #{@university.name}

= form_for [:admin, @university, @course] do |f|
  = validation_errors @course, "course", "created"

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"

  .form-group
    = f.label :study_level_id, "Study Level"
    = f.select :study_level_id, options_for_select(StudyLevel.all.collect{|x| x.name}), {prompt: "Select Level of Study"}, class: "form-control"

  .form-group
    = f.label :study_field_id, "Study Field"
    = f.select :study_field_id, options_for_select(StudyField.all.collect{|x| x.name}), {prompt: "Select Field of Study"}, class: "form-control"

  .form-group
    = f.label :description
    = f.text_area :description, class: "tinymce"

  .form-group
    = f.submit "Submit", class: "btn btn-primary"