!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title= full_title(yield(:title))
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "img/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "img/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'plugins/modernizr/modernizr.min'
    - if current_admin && params.has_key?(:edit)
      = javascript_include_tag 'tinymce', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #fb-root
    - if Rails.env == "production"
      :javascript
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1647546812179737',
            xfbml      : true,
            version    : 'v2.5'
          });
        };

        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
    - else
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1647002915567460";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    .body
      = render 'layouts/header'

      .main{:role => "main"}
        = yield

      = render 'layouts/footer'

    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    -#:javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12345678-1', 'auto');
      ga('send', 'pageview');

    - if current_admin && params.has_key?(:edit)
      :javascript
        tinymce.init({
            selector: '.editable',
            inline: true,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste save'
            ],
            toolbar: 'insertfile save undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            save_onsavecallback: function () {
                // console.log('Saved');
                $.ajax({
                    method: 'PUT',
                    url: '/admin/save_page_region?country_id=' + '#{@country.id}' + '&name=' + tinyMCE.activeEditor.id + '&content=' + encodeURIComponent(tinyMCE.activeEditor.getContent())
                }).done(function (msg) {
                    alert('Content saved.');
                }).fail(function (msg) {
                    alert('Content failed to save, please contact web administrator.');
                });
            }
        });

    -# if Rails.env == "development"
      = console